<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imall.shoppingproducer.dao.GoodsMapper">

    <resultMap id="Goods" type="com.imall.entities.mall.Goods">
        <id column="goods_id" jdbcType="INTEGER" property="id"/>
        <result  column="goods_name" jdbcType="VARCHAR" property="name"/>
        <result column="goods_count" jdbcType="INTEGER" property="count"/>
        <result column="goods_description" jdbcType="VARCHAR" property="description"/>
        <result column="goods_image" jdbcType="VARCHAR" property="imagePath"/>
        <result column="is_plash" jdbcType="TINYINT" property="isPlash"/>
        <result column="plash_count" jdbcType="INTEGER" property="plashCount"/>
        <result column="sell_date" jdbcType="TIMESTAMP" property="sellDate"/>
        <result column="vendor_id" jdbcType="INTEGER" property="vendorId"/>
        <result column="end_date" jdbcType="TIMESTAMP" property="endDate"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
    </resultMap>

    <select id="selectAll" resultMap="Goods" resultSetType="FORWARD_ONLY" fetchSize="-2147483648">
        select *
        where goods_cout>0
        from goods
        order by goods_id desc
    </select>

    <select id="selectTodayFlash" resultMap="Goods" resultSetType="FORWARD_ONLY" fetchSize="-2147483648" parameterType="java.lang.String">
        select *
        from goods
        where sell_date between #{todayStart} and #{todayEnd} and is_plash=1
        order by goods_id
    </select>


</mapper>